.nav{
    display: inline-block;
    vertical-align: top;
    width: 200px;
    height: 400px;
    background-color: lightblue;
    border: 1px solid black;
    padding: 10px;

}

button{
    width: 60px;
    height: 30px;
}

