.nav{
    display: inline-block;
    vertical-align: top;
    width: 200px;
    height: 400px;
    background-color: lightblue;
    border: 1px solid black;
    padding: 10px;

}

button{
    width: 80px;
    height: 30px;
    display: block;
    padding: 4px;
    margin: 15px auto;
    /* width: 50px; */
}

